asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
Django==3.1.5
djangorestframework==3.12.4
idna==2.10
mysqlclient @ file:///C:/Users/Dileep%20Kumar%20Patel/Desktop/Onlinetest/env/Scripts/mysqlclient-1.4.6-cp38-cp38-win32.whl
Pillow==8.2.0
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
urllib3==1.26.5
